[user]
	name = Angelo Bonicelli
[core]
	autocrlf = input
	safecrlf = false
	precomposeunicode = true
	editor = nvim
[merge]
	renameLimit = 10000
[push]
	autoSetupRemote = true
[init]
        defaultBranch = trunk
[rerere]
        enabled = 1
        autoUpdate = true

